<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>root</title>
    <link th:href="@{/css/style.css}"  type="text/css" rel="stylesheet" />
</head>
<body>
<ul>
    <li><a class="active" href="/">Songr App </a></li>

</ul>
<p class="h1Hello">
   this app is about creating web app using spring java framework
</p>
<p class="h1Hello" >
    features in this app:<br>
    1. you can add new album using this rout <a href="/Albums">add new album</a><br>
    2. you can see all your albums in detail using this rout <a href="/newAlbum">see your albums </a><br>
    3. you can add new song to pacific album using this rout <a href="/Songs">add new song</a><br>
    4. you can  see all your songs in detail using this rout <a href="/allSongs">see your songs</a><br>
</p>

<article class="footer">
    <p>all right received </p>
</article>
</body>
</html>